/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Quintessential&display=swap');

body {
    font-family: 'GFS Neohellenic', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f7f2ed;
    color: #333;
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quintessential', cursive;
    margin-top: 0;
    color: #6b3820;
}

.navbar {
    background-color: #f7f1eb;
    padding: 10px;
    
}
.navbar-brand {
    font-family: 'Quintessential', cursive;
    font-size: 20px;
    color: #6b3820;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    color: #6b3820;
    
}


