/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Quintessential&display=swap');

body {
    font-family: 'GFS Neohellenic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f2ed;
    color: #333;
    font-size: 1.3rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quintessential', cursive;
    margin-top: 0;
    color: #6b3820;
}

.navbar {
    background-color: #f7f1eb;
    padding: 10px;

}

.navbar-brand {
    font-family: 'Quintessential', cursive;
    font-size: 20px;
    color: #6b3820;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    color: #6b3820;


}

.hero {
    margin-top: 6rem;
    background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url('../assets/tiramisu-background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    justify-content: center;

}

.hero h1,
.hero p {
    width: 65%;
    color: #4b2511;
}

.hero h1 {
    font-size: 4rem;

    font-weight: bolder;
}

.btn {

    padding: 10px 40px;
    background-color: #784a33;
    color: white;
    text-decoration: none;

    border-radius: 5px;
    font-weight: bolder;
}

.btn:hover {
    background-color: #6b3820;
    color: white;
    text-decoration: none;
}

.intro {
    margin-top: 5rem;

}

.intro {


    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;

}

@media (max-width: 999px) {
    .intro {
        flex-direction: column;
        grid-template-columns: 1fr;

        text-align: center;
    }
}

.intro-image {

    margin: 0 auto 20px auto;
    max-width: 600px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .intro-image {
        max-width: 320px;
    }
}

.little-intro {
    padding: 10px;
    
}
.little-intro p, .little-intro h4{
    font-size: 1rem;
    
}
.little-intro h4{
    font-weight: bolder;
}

.little-intro:hover {
    background-color: #f0e3d8;
    border-radius: 5px;
    padding: 10px;
}

.tiramisu-variations {
    margin-top: 8rem;
}
.tiramisu-variations h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
}

.variety {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 3rem;
}

.variations {
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #f0e3d8;
    border: #a7a3a3 1px solid;
    
}
.variations:hover {
    background-color: #e6d9cc;
border: #3a2e2e 1px solid;

}

.variations h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.variations span {
    font-size: 3rem;
}
.variations:hover span {
    font-size: 5rem;
}

.dessert-gallery {
    margin-top: 9rem;
}
.dessert-gallery h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
}
.dessert-gallery p {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
    margin-top: 3rem;

}

.card {
    
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #faf8f5;
    box-shadow: #cfbbbb 10px 10px 10px;
    border: none;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.35rem;
    font-weight: bolder;
}
.card .Icon {
    font-size: 6rem;
}

.card:hover {
    background-color: #f5eae6;
    box-shadow: #a78787 10px 10px 10px;
}